#### Files for java development.
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.metadata
.recommenders


#### Files for C# development.
*.suo
*.user
UAV.sln.ide/
*.userprefs
.vs/
packages/
